*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family:'华文行楷';
    outline: none;
}
body{
    width: 100%;
    height: auto;
    background-color:#EAEAEA;
    overflow-x: hidden;
    background: url("../img/back.jpg") no-repeat fixed ;
    background-size:100% auto;
    color: rgb(85,85,85);
}